# --- Python & OS Bloat ---
__pycache__/ 
*.py[cod] 
*$py.class 
*.so 
.Python 
venv/ 
env/ 
.DS_Store 
Thumbs.db 

# --- The 5GB Culprits (Data & Uploads) ---
# This ignores the folders and EVERYTHING inside them recursively
datasets/**
uploads/**
cache/** 

# --- Experiments & Models ---
# 1. First, ignore everything in experiments
# experiments/**

# 2. Then, "un-ignore" only the specific model your Dockerfile needs
# This allows the context to stay small while keeping the required file
# !experiments/efficientnet_b0/best_model.pth

# --- Git & IDEs ---
.git/ 
.gitignore 
.vscode/ 
.idea/ 

# --- Build Artifacts ---
dist/ 
build/ 
*.egg-info/ 
Dockerfile 
docker-compose.yml 
.dockerignore

tests/
